extends layout-inner-app.jade
block head
	script(src="js/controllers/company.js")
	link(type="text/css" rel="stylesheet" href="css/custom-forms.css")
	style.
		.right-space{margin-right:10px;}
block menus
	li: a(href="/companypictures") Fotos
	li: a(href="/space") Espaços
block in-nav
	.titulo Empresa
block content
	.formulario
		.col.s12
			ul.tabs
				li.tab.col.s3
					a.active(id="btnDescription" ng-click="changeToDescription()") Descrição
				li.tab.col.s3
					a(id="btnPhones" ng-click="changeToPhone()") Telefones
		span(ng-show="stateDescription()")
			form.container(name="formDescription" novalidate)
				h3 Descrições
				.row
					.input-field.col.s12
						input.validate(id="company_name" type="text" required ng-model="company.name" name="company_name" placeholder="Nome")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_name.$touched")
							span(ng-show="formDescription.company_name.$error.required") Informe o nome da empresa
				.row
					.input-field.col.s12
						input.validate(id="email" type="email" required ng-model="company.email" name="email" placeholder="Email")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.email.$touched")
							span(ng-show="formDescription.email.$error.required") Informe o email da empresa
							span(ng-show="formDescription.email.$error.email") O formato do email está incorreto
				h4 Endereço
				.row
					.input-field.col.s12
						input.validate(id="street" type="text" required ng-model="company.address.street" name="company_street" placeholder="Rua")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_street.$touched")
							span(ng-show="formDescription.company_street.$error.required") Informe a Rua
				.row
					.input-field.col.s12
						input.validate(id="zipcode" type="text" required ng-model="company.address.zipcode" name="company_zipcode" placeholder="CEP")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_zipcode.$touched")
							span(ng-show="formDescription.company_zipcode.$error.required") Informe o CEP
				.row
					.input-field.col.s12
						input.validate(id="number" type="number" required ng-model="company.address.number" name="company_number" placeholder="Número")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_number.$touched")
							span(ng-show="formDescription.company_number.$error.required") Informe o Número
				.row
					.input-field.col.s12
						input.validate(id="neighborhood" type="text" required ng-model="company.address.neighborhood" name="company_neighborhood" placeholder="Bairro")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_neighborhood.$touched")
							span(ng-show="formDescription.company_neighborhood.$error.required") Informe o Bairro
				.row
					.input-field.col.s12
						input.validate(id="city" type="text" required ng-model="company.address.city" name="company_city" placeholder="Cidade")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_city.$touched")
							span(ng-show="formDescription.company_city.$error.required") Informe a Cidade
				.row
					.input-field.col.s12
						input(id="country" type="text" class="validate" required ng-model="company.address.country" name="company_country" placeholder="País")
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_country.$touched")
							span(ng-show="formDescription.company_country.$error.required") Informe o País
				.row
					button.btn.waves-effect.waves-light.right(type="submit" onclick="document.getElementById('btnPhones').click()") Próximo
		span(ng-show="statePhone()")
			form.container(name="formPhones" novalidate)
				.row
					h4 Telefones
				.row
					div(class="input-field col s3")
						input(id="phone_number", type="text", class="validate", required, ng-model="phone.number", name="phone_number" placeholder="Número")
						div(ng-show="formPhones.$submitted || formPhones.phone_number.$touched", class="deep-orange-text accent-4 error-text")
							span(ng-show="formPhones.phone_number.$error.required") Informe o número
					div(class="input-field col s8")
						input(id="phone_description", type="text", class="validate", ng-model="phone.description", name="phone_description" placeholder="Descrição")
					div(class="input-field col s1")
						button(class="btn-floating btn-medium waves-effect waves-light", title="Adicionar", ng-click="addPhone()", ng-disabled="formPhones.$invalid")
							i(class="small material-icons", title="Adicionar") save
				.row
					table
						col
						col
						col(style="width:10% !important")
						thead
							tr
								th Número
								th Descrição
								th Ações
						tbody
							tr(ng-repeat="p in company.phones")
								td {{p.number}}
								td {{p.description}}
								td
									button(class="btn-floating btn-medium waves-effect waves-light red", title="Remover", ng-click="removePhone(p)")
										i(class="small material-icons") delete
				.row
					button.btn.waves-effect.waves-light.right(type="submit" ng-click="saveCompany()") Enviar
					button.btn.waves-effect.waves-light.right.right-space(type="submit" onclick="document.getElementById('btnDescription').click()") Anterior