extends layout-inner-app.jade
block head
	link(href="css/companylist-style.css" rel="stylesheet")
	script(src="js/controllers/companylist.js")
	script(src="js/companylist_viewctrl.js")
block content
	.row(ng-repeat="c in companies | filter:searchText")
		.col.s12.m7
			.card
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="/images/default.gif" ng-show="!c.pictures.length")
					img.activator(ng-src="/{{c.pictures[0].src}}" ng-show="c.pictures.length")
				.card-content
					span.card-title.activator.grey-text.text-darken-4 {{c.name}}
						i.material-icons.right more_vert
					a.waves-effect.waves-teal.btn-flat(onClick="showModal()" ng-click="selectCompany(c)") Criar Evento
				.card-reveal
					span.card-title.grey-text.text-darken-4 {{c.name}}
						i.material-icons.right close
					p Email: {{c.email}}
					h5 Endereço
					p {{c.address.street}} {{c.address.number}} {{c.address.neighborhood}} {{c.address.zipcode}}
					p {{c.address.city}} {{c.address.country}}
					h5 Contatos
					p(ng-repeat="p in c.phones") {{p.number}} - {{p.description}}
					h5 Espaços
					p(ng-repeat="s in c.spaces") {{s.title}} - {{s.type}} - {{s.price}}
	#event.modal.bottom-sheet
		.modal-content
			.col.s12
				.row
					h5 Reservar Horário em {{company.name}}
				.row
					.input-field.col.s12
						select.browser-default
							option(ng-repeat="s in company.spaces" value="{{s}}") {{s.title}}
				.row
					.input-field.col.s6
						input(type="datetime-local" placeholder="Início")
					.input-field.col.s6
						input(type="datetime-local" placeholder="Fim")
				.row
					.input-field.col.s12
						textarea#space_description.materialize-textarea(placeholder="Descrição")
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Fechar
block in-nav
	.input-field.right
		input#search(type="search" placeholder="Buscar Empresas" ng-model="searchText")
		label(for="search")
			i.material-icons search
		i.material-icons close