extends layout.jade
block header
	script(type='text/javascript').
		$(document).ready(function(){$(".button-collapse").sideNav();})
	nav
		div(class="nav-wrapper green")
			a(href="/", class="brand-logo") #{title}
			a(href="/", data-activates="mobile-menu", class="button-collapse")
				i(class="mdi-navigation-menu")
			ul(class="right hide-on-med-and-down")
				li: a(href="/login") Login
				li: a(href="/register") Registrar-se
			ul(class="side-nav", id="mobile-menu")
				li: a(href="/login") Login
				li: a(href="/register") Registrar-se