doctype
html(lang="en-US", ng-app="myApp")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(type="text/css", rel="stylesheet", href="vendor/materialize/dist/css/materialize.css",  media="screen,projection")
		script(src="vendor/angular/angular.min.js")
		script(src="vendor/jquery/dist/jquery.min.js")
		title= t('app.titles.main')
		block head
	body
		script(type="text/javascript", src="vendor/materialize/dist/js/materialize.min.js")
		header
			script(type='text/javascript').
				$(document).ready(function(){$(".button-collapse").sideNav();})
			nav
				.nav-wrapper.green
					a.brand-logo(href="/home")= t('app.titles.main')
					a.button-collapse(href="/home" data-activates="mobile-menu")
						i.mdi-navigation-menu
					ul.right.hide-on-med-and-down
						li: a(href="/company")= t('app.buttons.company')
						li: a(href="/companypictures")= t('app.buttons.companypictures')
						li: a(href="/logout")= t('app.buttons.logout')
					ul.side-nav(id="mobile-menu")
						li: a(href="/logout")= t('app.buttons.logout')
						li: a(href="/company")= t('app.buttons.company')
						li: a(href="/companypictures")= t('app.buttons.companypictures')
			block header
		.container(ng-controller="AppCtrl")
			.main-content
					block content
			.sidebar
					block sidebar