extends layout.jade
block head
	script(src="js/controllers/login.js")
block content
	.card-panel(ng-controller="AppCtrl")
		h2 Entrar
		form.container(autocomplete="off" method="post" action="/login")
			- if(message)
				.nput-field.col.s12
					span(ng-show="form.username.$error.required") #{message}
			.row
				.input-field.col.s12
					input.validate(id="email" type="email" required ng-model="user.email" name="email")
					label(for="email") Email
			.row
				.input-field.col.s12
					input.validate(id="password" type="password" required ng-model="user.password" name="password")
					label(for="password") Senha
			.row.center
				button.orange.accent-2.waves-effect.waves-light.btn.black-text(type="submit") Entrar
			.row.center
				a.orange.accent-1.waves-effect.waves-light.btn.black-text(href="/registeruser") Registrar-se