extends layout.jade
block head
	script(src="js/controllers/register.js")
	script(src="vendor/angular-validation-match/dist/angular-input-match.js")
	link(type="text/css", rel="stylesheet", href="css/custom-forms.css")
block content
	.card-panel
		form(autocomplete="off", class="container", name="form", novalidate)
			h3 Registrar-se
			.row
				div(class="input-field col s12")
					input(id="name", type="text", class="validate", required, ng-model="user.name", name="username")
					label(for="name") Nome
					div(ng-show="form.$submitted || form.username.$touched", class="deep-orange-text accent-4 error-text")
						span(ng-show="form.username.$error.required") Informe o nome
			.row
				div(class="input-field col s12")
					input(id="email", type="email", class="validate", required, ng-model="user.email", name="email")
					label(for="email") Email
					div(ng-show="form.$submitted || form.email.$touched", class="deep-orange-text accent-4 error-text")
						span(ng-show="form.email.$error.required") Informe o email
						span(ng-show="form.email.$error.email") Formato errado para o email
			.row
				div(class="input-field col s12")
					input(id="password", type="password", class="validate", required, ng-model="user.password", name="password")
					label(for="password") Senha
					div(ng-show="form.$submitted || form.password.$touched", class="deep-orange-text accent-4  error-text")
						span(ng-show="form.password.$error.required") Informe a senha
			.row
				div(class="input-field col s12")
					input(id="confirm_password", type="password", class="validate", required, ng-model="user.passwordConfirm", name="passwordConfirmField", match="user.password")
					label(for="confirm_password") Confirmação da senha
					div(ng-show="form.$submitted || form.password.$touched", class="deep-orange-text accent-4  error-text")
						span(ng-show="form.passwordConfirmField.$error.required && !form.passwordConfirmField.$error.match") Informe a confirmação da senha
						span(ng-show="form.passwordConfirmField.$error.match") A confirmação da senha não é igual a senha informada
			.row
				button(class="btn waves-effect waves-light col s12", type="submit", ng-click="registerUser()", ng-disabled="form.$invalid", ng-model="button_submit") Enviar